body {
  background-image: url(../images/fond.png);
  background-position: center;
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-size: cover; 
  -moz-background-size: 100% 100%;     /* Gecko 1.9.2 (Firefox 3.6) */
  -o-background-size: 100% 100%;        /* Opera 9.5 */
  -webkit-background-size: 100% 100%;   /* Safari 3.0 */
  background-size: 100% 100%;
}

#game {
    width: 400px;
    height:auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin-left : auto;
    margin-right: auto;
}
#game .mm-line {
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    line-height: 0;
    vertical-align:middle;
    margin-top:0px;
    margin-bottom:0px;

}
#game .mm-line.mm-solution {
    background-color: none;
    color: white;
    margin-left:0px;
    margin-top:100px;
}
#game .mm-line.selected {
    background-color:none;
    color: white;
    margin-top:0px;
}
#game .mm-line .mm-num {
    height: 100%;
    display: inline-block;
    font-family: 'Futura';
    font-size: 15px;
    width: 20px;
    color: #630F0F;
    margin-left:50px;
}
#game .mm-line .mm-slot {
    display: inline-block;
    width: 50px;
    height: 50px;
    -webkit-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    /* background-image: url("../images/cercle.png"); */
    background-size: cover;
    margin: 4px;
    border-radius: 50%;
}
#game .mm-line .mm-slot.selected {
  border-color: none;
  -webkit-animation: hilite 0.3s ease;
          animation: hilite 0.3s ease;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
#game .mm-line .mm-status {
  margin-left: 10px;
  display: inline-block;
}
/*
#game .mm-line .mm-status span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  font-size: 20px;
} */
#game .mm-line .mm-status .mm-status-correct {
  color:#630f0F;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  font-size: 20px;
}
#game .mm-line .mm-status .mm-status-wrongplace {
  color:#630f0F;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  font-size: 28px;
}

#controls {
    width: 500px;
    margin-top :30px; 
    vertical-align:middle;
}

#controls a {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin: 3px;
    float:left;
}


[data-peg] {
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.3));
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

[data-peg="0"] {
  background-image: url("../images/balai.png");
  background-size: cover;
  background-color: white;
}

[data-peg="1"] {
  
  background-image: url("../images/musique.png");
  background-size: cover;
  background-color: white;
}

[data-peg="2"] {
 
  background-image: url("../images/crotte.png");
  background-size: cover;
  background-color: white;
}

[data-peg="3"] {
  
  background-image: url("../images/detergent.png");
  background-size: cover;
  background-color: white;
}

[data-peg="4"] {
  
  background-image: url("../images/insultes.png");
  background-size: cover;
  background-color: white;
}



@-webkit-keyframes hilite {
  0% {
    border-color: white;
  }
  100% {
    border-color: #777;
  }
}

@keyframes hilite {
  0% {
    border-color: white;
  }
  100% {
    border-color: #777;
  }
}
