html,
body
{
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* hide horizontal scrollbars, since we use the vertical ones to scroll to the right */
body
{
  overflow-x: hidden;
}

h1
{
  font-size: 20px;
  font-weight: normal;
  color: #2e6e80;
}

/**
  * important: keep position fixed, you can however use top:0 instead of bottom:0
  * if you want to make it stick to the top of the browser
  */
.scroll
{
  position: fixed;
  bottom: 0;
  left: 0;
}

/**
  * z-index ordering of the different layers, do this for your layers,
  * also assign absolute width (to prevent issues if the script gets executed before the images get loaded)
  */

.texture scroll
{
  z-index: -5;
}

.imgdercity 
{
 z-index: 50; 
 width: 5000px;
margin-bottom: 460px;
}


.city 
{
  z-index: 500;
  width: 6000px;
 margin-bottom: 300px;
}


.imgdevcity 
{
    z-index: 1000;
    width: 6500px;
    margin-left: 574px;
    margin-bottom: 150px;
}


.ferrari 
{
  z-index: 700;
  width: -6000px;
    margin-bottom: 280px;
}

.title{
    color: snow;
    font-family: MyUnderwood;
    font-size: 25px;
    z-index: 1000;
    margin-left: 350px;
    margin-bottom: 250px;
}

.texte{
    color: snow;
    font-family: Futura;
    z-index: 1000;
    font-size: 12px;
    padding-bottom: 50px;
    padding-left: 300px;
    padding-right: 900px;
    text-align: justify;
}


