.carreaux {
background-image: url('./images/ssfs_paper_texture_5.png');
height: 3000px;
width: 6000px;
}

.background {

	background-image: url('./images/Fond_ecran.png');
	height: 768px;
	width: 1024px;
	background-repeat: no-repeat;
	position: absolute;
	overflow: hidden;
    top: 100px;
}
.icone
{
position: relative;
width: 64px;
height: 64px;	
margin: 20px;
cursor: pointer;
}
.window {
	position: absolute;
	top: 100px;
	left:100px;
	display: none;
}

.d_videos {

	background-image: url('./images/mes_videos.png');
	background-repeat: no-repeat;
	position: relative;
	top: 50px;
}

.d_musiques {

	background-image: url('./images/ma_musique.png');
	background-repeat: no-repeat;
	width: 67px;
	position: relative;
	top: 50px;
	
}

.d_admirateurs {

	background-image: url('./images/admirateurs.png');
	background-repeat: no-repeat;
	width: 96px;
    height: 70px;
    position: relative;
	top: 50px;
	
}

.barre {

background-image: url('./images/Barre.png');
	height: 86px;
	width: 1023px;
	margin : 0px;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 0px;
	
}

.demarrer {

background-image: url('./images/barre_demarrer.png');
	height: 68px;
	width: 1023px;
	margin : 0px;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 0px;
	
	
}

.f_videos {

background-image: url('./images/Fenetre_1.png');
	height: 381px;
	width: 556px;
	margin : 15px;
	background-repeat: no-repeat;
	padding-top: 14px;
    padding-left: 2px;
}

.b_videos {
    background-image: url('./images/barre_fenetre_video.png');
    height: 40px;
    width: 524px;
    margin: 0 0 0 17px;
    background-repeat: no-repeat;
    background-position: 30% 15%;
    background-size: 100%; 
    cursor: pointer;  

}

.bouton_fermer1 {

background-image: url('./images/bouton_close.png');
	height: 23px;
	width: 24px;
	margin : 15px;
	left : 495px;
	top : 16px;
	position : absolute;
	background-repeat: no-repeat;
	
}

.video_1 {
background-image: url('./images/video_file.png');
height: 60px;
width: 46px;
background-repeat: no-repeat;
    position: relative;
    left: 60px;
    top: 75px;
    cursor: pointer;

}

.video_2 {
background-image: url('./images/video_file.png');
height: 60px;
width: 46px;
background-repeat: no-repeat;
      position: relative;
    left: 150px;
    top: 15px;
    cursor: pointer;
}

.video_3 {
background-image: url('./images/video_file.png');
height: 60px;
width: 46px;
background-repeat: no-repeat;
       position: relative;
    left: 240px;
    top: -45px;
    cursor: pointer;


}

.video_4 {
background-image: url('./images/video_file.png');
height: 60px;
    width: 46px;
    background-repeat: no-repeat;
    position: relative;
    left: 330px;
    top: -105px;
    cursor: pointer;

}

.video_5 {
background-image: url('./images/video_file.png');
   height: 60px;
    width: 46px;
    background-repeat: no-repeat;
    position: relative;
    left: 420px;
    top: -165px;
    cursor: pointer;
}

.video_6 {
background-image: url('./images/video_file.png');
height: 60px;
    width: 46px;
    background-repeat: no-repeat;
    position: relative;
   	left: 60px;
    top: -150px;
    cursor: pointer;

}

.f_musiques {

	background-image: url('./images/Fenetre_1.png');
	height: 381px;
	width: 556px;
	margin : 134px;
	background-repeat: no-repeat;
	padding-top: 14px;
    padding-left: 2px;

	
}



.b_musiques {

	background-image: url('./images/barre_fenetre_musique.png');
    height: 40px;
    width: 524px;
    margin: 0 0 0 17px;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%;
    cursor: pointer;

	
}

.bouton_fermer2 {

background-image: url('./images/bouton_close.png');
	height: 23px;
	width: 24px;
	margin : 15px;
	left : 495px;
	top : 16px;
	position : absolute;
	background-repeat: no-repeat;
	
}

.musique_1 {
    background-image: url('./images/music_file.png');
    height: 60px;
    width: 46px;
    background-repeat: no-repeat;
    position: relative;
    left: 60px;
    top: 75px;
    cursor: pointer;
}

.musique_2 {
	background-image: url('./images/music_file.png');
    height: 60px;
    width: 46px;
    background-repeat: no-repeat;
    position: relative;
    left: 60px;
    top: 90px;
    cursor: pointer;
}

.musique_3 {
 background-image: url('./images/music_file.png');
    height: 60px;
    width: 46px;
    background-repeat: no-repeat;
    position: relative;
    left: 60px;
    top: 105px;
    cursor: pointer;
}

.musique_4 {
        background-image: url('./images/music_file.png');
    height: 60px;
    width: 46px;
    background-repeat: no-repeat;
    position: relative;
    left: 150px;
    top: -105px;
    cursor: pointer;
}

.musique_5 {
   background-image: url('./images/music_file.png');
    height: 60px;
    width: 46px;
    background-repeat: no-repeat;
    position: relative;
    left: 150px;
    top: -90px;
    cursor: pointer;
}

.musique_6 {
    background-image: url('./images/music_file.png');
    height: 60px;
    width: 46px;
    background-repeat: no-repeat;
    position: relative;
    left: 150px;
    top: -75px;
    cursor: pointer;
}

.musique_7 {
    background-image: url('./images/music_file.png');
    height: 60px;
    width: 46px;
    background-repeat: no-repeat;
    position: relative;
    left: 240px;
    top: -285px;
    cursor: pointer;
}

.musique_8 {
    background-image: url('./images/music_file.png');
    height: 60px;
    width: 46px;
    background-repeat: no-repeat;
    position: relative;
    left: 240px;
    top: -270px;
    cursor: pointer;
}

.musique_9 {
   background-image: url('./images/music_file.png');
    height: 60px;
    width: 46px;
    background-repeat: no-repeat;
    position: relative;
    left: 240px;
    top: -255px;
    cursor: pointer;
}

.musique_10 {
      background-image: url('./images/music_file.png');
    height: 60px;
    width: 46px;
    background-repeat: no-repeat;
    position: relative;
    left: 330px;
    top: -465px;
    cursor: pointer;
}

.musique_11 {
	background-image: url('./images/music_file.png');
    height: 60px;
    width: 46px;
    background-repeat: no-repeat;
    position: relative;
    left: 330px;
    top: -450px;
    cursor: pointer;
}

.musique_12 {
    background-image: url('./images/music_file.png');
    height: 60px;
    width: 46px;
    background-repeat: no-repeat;
    position: relative;
    left: 330px;
    top: -435px;
    cursor: pointer;
}

.musique_13 {
    background-image: url('./images/music_file.png');
    height: 60px;
    width: 46px;
    background-repeat: no-repeat;
    position: relative;
    left: 420px;
    top: -645px;
    cursor: pointer;
}

.musique_14 {
    background-image: url('./images/music_file.png');
    height: 60px;
    width: 46px;
    background-repeat: no-repeat;
    position: relative;
    left: 420px;
    top: -630px;
    cursor: pointer;
}

.musique_15 {
    background-image: url('./images/music_file.png');
    height: 60px;
    width: 46px;
    background-repeat: no-repeat;
    position: relative;
    left: 420px;
    top: -615px;
    cursor: pointer;
}
.f_admirateurs {


	
}

.b_admirateurs {


	
}

.bouton_fermer3 {


	
}

.internet {

	background-image: url('./images/explorer.png');
	height: 40px;
    width: 38px;
    background-repeat: no-repeat;
    position: relative;
    left: 153px;
    top: 37px;
}

.player {

	background-image: url('./images/windows_player.png');
	height: 40px;
    width: 42px;
    background-repeat: no-repeat;
    position: relative;
    left: 213px;
    top: -3px;

}

.dossier_simple {

    background-image: url('./images/dossier_simple.png');
    height: 34px;
    width: 42px;
    background-repeat: no-repeat;
    position: relative;
    left: 268px;
    top: -42px;

}


































