.fond {
background-image: url('./images/papier.jpg');
height: 1080px;
width: 100%;
position: relative;
top: -107px;
background-repeat: no-repeat;
}

.background {

	background-image: url('./images/Fond_ecran.png');
	height: 768px;
	width: 1024px;
	background-repeat: no-repeat;
	position: absolute;
	overflow: hidden;
    top: 95px;
   /* margin: 0 auto;*/
    margin: 0px 53px auto;
    font-family: 'Special Elite', cursive;

}
.icone
{
position: relative;
width: 64px;
height: 64px;	
margin: 20px;
cursor: pointer;
}
.window {
	position: absolute;
	top: 100px;
	left:100px;
	display: none;
}

.d_videos {

	background-image: url('./images/dossier_simple_gros.png');
	background-repeat: no-repeat;
	position: relative;
    width: 98px;
    height: 83px;
    top: 160px;
    left: 27px;

}

.mes_videos {

position: relative;
    top: 65px;
    left: -1px;

}

.d_musiques {

	background-image: url('./images/dossier_simple_gros.png');
	background-repeat: no-repeat;
    width: 98px;
    height: 83px;
	position: relative;
    top: -65px;
    left: 27px;
}

.mes_musiques {

position: relative;
    top: 65px;
    left: -10px;
}

.d_oeuvre {

	background-image: url('./images/dossier_simple_gros.png');
	background-repeat: no-repeat;
	width: 98px;
    height: 83px;
    position: relative;
	top: 80px;
    left: 27px;

}

.mon_oeuvre 

{
    position: relative;
    top: 65px;
    left: -2px;
}

.barre {

background-image: url('./images/barre.png');
	height: 86px;
	width: 1023px;
	margin : 0px;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 0px;
	
}

.demarrer {

background-image: url('./images/barre_demarrer.png');
	height: 68px;
	width: 1023px;
	margin : 0px;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 0px;
	
}

.f_videos {

background-image: url('./images/Fenetre_1.png');
	height: 381px;
	width: 556px;
	margin : 15px;
	background-repeat: no-repeat;
	padding-top: 14px;
    padding-left: 2px;
    z-index: 2;
    font-size: 10px;
}

.b_videos {
    background-image: url('./images/barre_fenetre_video.png');
    height: 40px;
    width: 524px;
    margin: 0 0 0 17px;
    background-repeat: no-repeat;
    background-position: 30% 15%;
    background-size: 100%; 
    cursor: pointer;  

}

.bouton_fermer1 {

    background-image: url('./images/bouton_close.png');
	height: 23px;
	width: 24px;
	margin : 15px;
	left : 495px;
	top : 16px;
	position : absolute;
	background-repeat: no-repeat;
	
}

.video_1 {
    background-image: url('./images/video_file.png');
    height: 69px;
    width: 55px;
    background-repeat: no-repeat;
    position: relative;
    left: 60px;
    top: 77px;
    cursor: pointer;
    
}

.titre_musique

{
    width: 117px;
    position: relative;
    top: 62px;
    left: -55%;
    margin-left:-5px;
}

.titre_video

{
    width: 117px;
    position: relative;
    top: 62px;
    left: -55%;
    margin-left:-9px;
}

.video_2 {
    background-image: url('./images/video_file.png');
    height: 60px;
    width: 46px;
    background-repeat: no-repeat;
    position: relative;
    left: 150px;
    top: 8px;
    cursor: pointer;
}

.video_3 {
    background-image: url('./images/video_file.png');
    height: 60px;
    width: 46px;
    background-repeat: no-repeat;
    position: relative;
    left: 240px;
    top: -52px;
    cursor: pointer;


}

.video_4 {
    background-image: url('./images/video_file.png');
    height: 60px;
    width: 46px;
    background-repeat: no-repeat;
    position: relative;
    left: 330px;
    top: -112px;
    cursor: pointer;

}

.video_5 {
    background-image: url('./images/video_file.png');
    height: 60px;
    width: 46px;
    background-repeat: no-repeat;
    position: relative;
    left: 420px;
    top: -172px;
    cursor: pointer;
}

.video_6 {
    background-image: url('./images/video_file.png');
    height: 60px;
    width: 46px;
    background-repeat: no-repeat;
    position: relative;
    left: 60px;
    top: -157px;
    cursor: pointer;

}

.f_musiques {

	background-image: url('./images/Fenetre_1.png');
	height: 381px;
	width: 556px;
	margin : 134px;
	background-repeat: no-repeat;
	padding-top: 14px;
    padding-left: 2px;
    font-size: 10px;
	
}



.b_musiques {

	background-image: url('./images/barre_fenetre_musique.png');
    height: 40px;
    width: 524px;
    margin: 0 0 0 17px;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%;
    cursor: pointer;

	
}

.bouton_fermer2 {

background-image: url('./images/bouton_close.png');
	height: 23px;
	width: 24px;
	margin : 15px;
	left : 495px;
	top : 16px;
	position : absolute;
	background-repeat: no-repeat;
	
}

.musique_1 {
    background-image: url('./images/music_file.png');
    height: 69px;
    width: 55px;
    background-repeat: no-repeat;
    position: relative;
    left: 60px;
    top: 75px;
    cursor: pointer;
}

.musique_2 {
    background-image: url('./images/music_file.png');
    height: 69px;
    width: 55px;
    background-repeat: no-repeat;
    position: relative;
    left: 60px;
    top: 81px;
    cursor: pointer;
}

.musique_3 {
    background-image: url('./images/music_file.png');
    height: 69px;
    width: 55px;
    background-repeat: no-repeat;
    position: relative;
    left: 60px;
    top: 87px;
    cursor: pointer;
}

.musique_4 {
    background-image: url('./images/music_file.png');
    height: 69px;
    width: 55px;
    background-repeat: no-repeat;
    position: relative;
    left: 150px;
    top: -132px;
    cursor: pointer;
}

.musique_5 {
    background-image: url('./images/music_file.png');
    height: 69px;
    width: 55px;
    background-repeat: no-repeat;
    position: relative;
    left: 150px;
    top: -126px;
    cursor: pointer;
}

.musique_6 {
    background-image: url('./images/music_file.png');
    height: 69px;
    width: 55px;
    background-repeat: no-repeat;
    position: relative;
    left: 150px;
    top: -120px;
    cursor: pointer;
}

.musique_7 {
    background-image: url('./images/music_file.png');
    height: 69px;
    width: 55px;
    background-repeat: no-repeat;
    position: relative;
    left: 240px;
    top: -339px;
    cursor: pointer;
}

.musique_8 {
    background-image: url('./images/music_file.png');
    height: 69px;
    width: 55px;
    background-repeat: no-repeat;
    position: relative;
    left: 240px;
    top: -333px;
    cursor: pointer;
}

.musique_9 {
    background-image: url('./images/music_file.png');
    height: 69px;
    width: 55px;
    background-repeat: no-repeat;
    position: relative;
    left: 240px;
    top: -327px;
    cursor: pointer;
}

.musique_10 {
    background-image: url('./images/music_file.png');
    height: 69px;
    width: 55px;
    background-repeat: no-repeat;
    position: relative;
    left: 330px;
    top: -546px;
    cursor: pointer;
}

.musique_11 {
    background-image: url('./images/music_file.png');
    height: 69px;
    width: 55px;
    background-repeat: no-repeat;
    position: relative;
    left: 330px;
    top: -540px;
    cursor: pointer;
}

.musique_12 {
    background-image: url('./images/music_file.png');
    height: 69px;
    width: 55px;
    background-repeat: no-repeat;
    position: relative;
    left: 330px;
    top: -534px;
    cursor: pointer;
}

.musique_13 {
    background-image: url('./images/music_file.png');
    height: 69px;
    width: 55px;
    background-repeat: no-repeat;
    position: relative;
    left: 420px;
    top: -753px;
    cursor: pointer;
}

.musique_14 {
    background-image: url('./images/music_file.png');
    height: 69px;
    width: 55px;
    background-repeat: no-repeat;
    position: relative;
    left: 420px;
    top: -747px;
    cursor: pointer;
}

.musique_15 {
    background-image: url('./images/music_file.png');
    height: 69px;
    width: 55px;
    background-repeat: no-repeat;
    position: relative;
    left: 420px;
    top: -741px;
    cursor: pointer;
}
.f_oeuvre {

background-image: url('./images/Fenetre_1.png');
    height: 381px;
    width: 556px;
    margin : 134px;
    background-repeat: no-repeat;
    position: relative;
    top: -249px;
    left: 2px;
	
}

.b_oeuvre {

    background-image: url('./images/barre_fenetre_oeuvre.png');
    height: 40px;
    width: 524px;
    margin: 0 0 0 17px;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    position: relative;
    top: 15px;
	
}

.bouton_fermer3 {

    background-image: url('./images/bouton_close.png');
    height: 23px;
    width: 24px;
    margin : 15px;
    left: 477px;
    top: 2px;
    position : absolute;
    background-repeat: no-repeat;
	
}

.internet {

	background-image: url('./images/explorer.png');
	height: 40px;
    width: 38px;
    background-repeat: no-repeat;
    position: relative;
    left: 153px;
    top: 37px;
}

.player {

	background-image: url('./images/windows_player.png');
	height: 40px;
    width: 42px;
    background-repeat: no-repeat;
    position: relative;
    left: 213px;
    top: -3px;

}

.dossier_simple {

    background-image: url('./images/dossier_simple.png');
    height: 34px;
    width: 42px;
    background-repeat: no-repeat;
    position: relative;
    left: 268px;
    top: -42px;

}


































