
html {
  margin: 0;
  padding:0;
  text-align: center;
}

#lapin {

    width: 100%;
    margin: auto;
    background-image: url('./img/backg2.jpg');
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}
.marker{

background-image: url(./img/markerhover.png);
position: absolute;
background-size: 100%;
background-repeat: no-repeat;
width: 50px;
height: 50px;
z-index: 999;

}
.marker:hover{

background-image: url(./img/marker.png);
position: absolute;
background-size: 100%;
background-repeat: no-repeat;
width: 50px;
height: 50px;
z-index: 999;

}

#m1{

     left: 127vh;
    top: 35vh;

}
#m2{

left: 55vh;
top: 73vh;

}
#m3{

left: 47vh;
top: 29vh;

}
#m4{

    left: 77vh;
    top: 52vh;

}
#m5{

    left: 70vh;
    top: 55vh;

}