@charset "utf-8";
/* CSS Document */


html { 
  margin:0;
  padding:0;
  background: url(image/fond.png) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; }
.embed-container iframe,
.embed-container object,
.embed-container embed { 
	position: absolute; top: 0; left: 0; width: 50%; height: 50%; }