body {
    background-image: url(../default/page/img/fondprofil.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
h2 {
	text-align: left;
}
.mmmvalider{
    background-image:url("../default/page/img/valider.png");
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain ;
    background-color:transparent;
    border:none;
    width: 200px;
    background-repeat: no-repeat; /* largeur à spécifier */
    height: 40px; /* longueur à spécifier */
    cursor: pointer;

}