
.wrap{
width:100%;
height:450px;
background-image:url("back.png");
background-repeat: no-repeat;
background-size:cover;

}

h2{

	font-family: 'Special Elite';
font-size: 22px; 
text-align: center;
}

.h3 {
font-family: 'Lato', sans-serif;
font-size:20px; 
}

#image {
width:100%;
height:auto;
	margin-left:50%;
	margin-right:50%;
}

span{

	width:100px;
	height:auto;
}

