@charset "utf-8";
/* CSS Document */

body {
	
	background-image:url(image/fondplace.png);
	background-repeat: no-repeat;
 	margin:0;
 	padding:0;
	}

.content {

	width:750px;
	height:500px;
	
}

#textplace{
	font-family : "FuturaStd"; 	
	margin-top: 7px;
	margin-left: 25px; 
	text-align: justify;
	 		
}


h2 {
	font-family : "Special Elite";
	text-align: center;		
	color: #35201e;	
}
