
@font-face {
    font-family: 'FuturaStd';
    src: url('FuturaStd.eot');
    src: url('FuturaStd.otf') format('truetype'),
         url('FuturaStd.woff') format('woff'),
         url('FuturaStd.eot?#iefix') format('embedded-opentype'),
         url('FuturaStd.svg#futura') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  height: 100%;
}
body {
  height: 100%;
}

h1 {
font-family: 'Special Elite';
}

h2 {
font-family: 'Special Elite';
}

/* Italique pour les consignes et les titres */
em { 
font-style : italic; 
}
