
html {
  height: 100%;
}
body {
  height: 100%;
}

h1 {
font-family: 'Special Elite';
color:#35201e;
}

h2 {
font-family: 'Special Elite';
}

h3 {
font-family: 'Lato', sans-serif;   
}

h4 {
font-family: 'Lato', sans-serif;
}

h5 {
font-family: 'Lato', sans-serif; 
}

h6 {
font-family: 'Lato', sans-serif;   
}

p {
font-family: 'Lato', sans-serif;   
}

/* Italique pour les consignes et les titres */
em { 
font-style : italic; 
}
