@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;

}
body {

	line-height: 1;
    font-family:'Lato', sans-serif;
    font-size:18px;
    height: 100%;
}

h1 {
font-family: 'Special Elite';
color:#35201e;
font-size: 25px;

}


h2 {

    font-size-adjust: auto;
color: white;
text-align: center;
font-family: 'Special Elite';
font-size: 22px;
}



}

h3 {

font-family: 'Lato', sans-serif;
font-size:20px;

color: white;
text-align: center;
}

p {


font-family: 'Lato', sans-serif;
text-align: center;
font-size:18px;



}


ol, ul {

	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Structure */


.container-fluid {
    
	position: relative;
	min-height: 100%;
	
}

.dropdown-menu a {
	color: #FFFFFF;
    font-size: 17px;
    text-transform:none;
}


.dropdown-menu a:hover {
	text-decoration:underline;
	color: #FFFFFF;
    text-transform:none;
}


nav a {
	color: #FFFFFF;
    font-size:18px;
}
a:hover {
	text-decoration: none;
	color: #030303;
}
#mambo-topmenu {
    color: black;
	padding-top: 15px;
	padding-left: 50px;
	position: absolute;
	z-index: 10;
    font-family:'Lato', sans-serif;
}
#mambo-topmenu li {
	list-style-type: none;
}
#mambo-topdropdown {
	text-align: center;
    left: -1px;
    Top: -0px;

}
#mambo-topmenu  .dropdown-menu {
	background-image:url('../img/fondmenu.png');
    background-position: left;
    background-size: cover;
}
#mambo-burger .dropdown-menu li {	
	text-align: center;
}
#mambo-topdropdown li {
	float: left;
	width: 50%;
	padding: 10px;	
}
#mambo-botdropdown li {
	padding: 10px;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #FFF;
}
.list-inline>li {
	padding-right: 0px;
    padding-left: 0px;
}
#etape {
	position: relative;
	
	z-index: 1;
   
}
#profil{
	padding-top: 115px;
}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url('../img/fermer.png');
	background-size: contain; 
	background-repeat: no-repeat;
	background-position: center;
	width: 64px;
	}
footer {
	position: relative;
	bottom: 0px;
	background-color: black;
	height: 20px;
	width: 100%;
}
footer li a {
	color: white;
}
footer li {
	list-style-type: none;
}
footer ul.list-inline {
    text-align: center;
}

/** ### Accueil Css ###  **/

#text_accueil{

  text-align: center;
  padding-top: 30px;
}

#map {
  width: 100%; /* width of the visible map */
  height: 1080px; /* height of the visible map */
  /**background-image: url('../img/ecranmapOK.jpg'); /*  map */
  /**background-position:0px 0px; /* initial position */
  /**background-repeat: no-repeat;
  background-size: cover;
  /* transition */
  -webkit-transition: background-position 1s ease-in-out;
  -moz-transition: background-position 1s ease-in-out;
  -o-transition: background-position 1s ease-in-out;
  transition: background-position 1s ease-in-out;
}
#haut_page{


    margin: 0px;
    background: url('../img/fondaccueil.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

#bas_page{

position: relative;
    margin: 0;
    padding: 0;

}

}
#map_container{
    margin: 0;
    padding: 0;
    position: relative;
}

#top_site{

height: 768px;
margin-top: 25vh;
padding-left: 3%;
}

#bouton_soutenance{

z-index: 666;
position: absolute;
top: 21vh;
left: 1vw;

}

.footer_provisoir{


  position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #35201e;
    z-index:777;
}


/** GASPACHO **/

/** HOTEL **/

/** VIN **/

/** CROTTE **/

/** POITRINE ** /

/** FERRARI **/

/** CHIEN **/

/** LIVRE **/




/** LAPIN **/

/** IMMEUBLE **/

/** OURS **/

/** ORDINATEUR **/
