h1 {
text-align: center;
font-size: 25px;
font-family:sans-serif;
color:firebrick;
margin-top:200px;
}

/** Page principale **/

#ouicode {
    text-align:center;
    margin-bottom:20px;
    margin-top:30px;
    background:firebrick;
    padding-bottom:15px;
    padding-top:15px;
    max-width:200px;
    margin-left: auto;
    margin-right: auto;
}

#noncode {
    text-align:center;
    margin-top:20px;
    background:firebrick;
    padding-bottom:15px;
    padding-top:15px;
    max-width:200px;
    margin-left: auto;
    margin-right: auto;
}


a:link {color:white;
}
a:hover {color:black;
}
a:visited {color:white;
}

a {
    text-decoration:none;
    font-family: sans-serif;
    text-align:center;
    font-size:18px;
}

/** Page pour ceux ayant déjà le code **/

#insertioncode {
    text-align:center;
    font-size:25px;
    font-family:sans-serif;
}

#validation {
    text-align:center;
    font-size:25px;
    font-family:sans-serif;
    margin-top:15px;
}

/** Page pour ceux n'ayant pas le code **/

h2 {
text-align: center;
font-size: 18px;
font-family:sans-serif;
color:black;
margin-top:100px;
}
