html {

	margin: 0;
	padding: 0;
}

body {
  width: 100%;
  height:100%;
  margin: auto;
  padding: auto;
  overflow-x: hidden;
  background-image:url('images/ambre.jpg');
  background-repeat: no-repeat; 
  
  /*background-position: top center;*/
  background-size: cover;
font-family: 'Special Elite', cursive;
  }
.bat1{
	
	background-image: url('images/bat5.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -100px;
    z-index: 999;
    position: relative;
    height: 768px;
}

	}
	
	
  
#etape {
	padding-top:0px;
}

div, img, footer {
  position: relative;
  box-sizing: border-box;
}


h1 {
  font-size: 25px;
  font-family: 'Special Elite', cursive;
  color:#35201e;
}

h2 {
  font-size: 22px;
  font-family: 'Special Elite', cursive;
}

h3 {
  font-family: 'Lato', sans-serif; 
	font-size:20px;
}

h4 {
  font-family: 'Lato', sans-serif;
	font-size:18px;

}

h5 {
  font-family: 'Lato', sans-serif;
  font-size:18px;

}

h6 {
  font-family: 'Lato', sans-serif; 
	font-family:18px;
}

p {
  font-size: 16px;
  margin-bottom: 12px;
  text-indent:20px;
  hyphens: auto;
  font-family:  'Lato', sans-serif;;
}

strong {
  font-weight: 900;
  font-family:  'Lato', sans-serif;;
  color: #e5e5e5;
}

a {
  font-family:  'Lato', sans-serif;;
  text-transform: uppercase;
  text-decoration: none;
  color: #dff3fd;
}
a:visited {
  color: #dff3fd;
}
li.active a, a:hover, a:active {
  color: #e5e5e5;
}


.distribution-map {
  position: relative;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin:  auto;
  /*pour decendre la carte il faut régler le margin-top*/
  margin-top: 8%;
  height: 555px;
  background-image: url('images/cartedessinvert2.png');
  background-repeat : no-repeat;
  background-position: top center;
  background-size: cover; 
  
}

	
.distribution-map > img {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
#etape {
padding-bottom: 5px;
width: 1024px;
height: 768px;
overflow: hidden;
margin: 54px auto 0;
}
/*points maps clickable */
.distribution-map .map-point {
  cursor: pointer;
  outline: none;
  z-index: 0;
  position: absolute;
  width: 55px;
  height: 55px;
  
  /*pour les points */
  background-image: url('images/marker.png');
  background-repeat : no-repeat;
  background-position: top center;
  background-size: cover; 
}
.map-point:hover {
  cursor: pointer;
  outline: none;
  z-index: 0;
  position: absolute;
  width: 55px;
  height: 55px;
  
  /*pour les points */
  background-image: url('images/markerhover.png');
  background-repeat : no-repeat;
  background-position: top center;
}

/*enlever marge de la fancybox a vois */
.fancybox-wrap.fancybox-desktop.fancybox-type-inline.fancybox-opened .fancybox-skin{
	padding:0px;
}
/*mettre l'icône fermer*/
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url('images/fermer.png');
	background-size: contain; 
	background-repeat: no-repeat;
	background-position: center;
	width: 64px;
	}
	
#point1{
	
top: 237px;
left: 773px;
	
}
#point2{
	
top: 317px;
left: 460px;
}
#point3{
top: 287px;
left: 243px;
}
#point4{
	
top: 253px;
left: 676px;
}
#point5{
	
top: 390px;
left: 391px;
	
}
/*Alcala lightbox*/
#alcala {
	width : 800px;
	height: 530px;
	background-image:url('images/basealcala.jpg');
	top: -20px;
position: relative;
margin-bottom: -20px;
	
}

#alcala h2{
	top: 40px;
position: relative;
}


.img_light {
	float: left;
	position: relative;
	width: 500px;
	margin-top: 60px; 
	
}
.content_light{

	position: relative;
	width: 280px;
	float: right;
	padding-right : 20px;
	padding-top: 40px;
}
.title1{
	padding-top: 2px; 
	padding-left : 90px; 
}
/*fin Alcala lightbox*/

/*Sol lightbox*/
#sol{
	width : 800px;
	height: 530px;
	background-image:url('images/basesol.jpg');
	top: -20px;
	position: relative;
	bottom: -20px; 
	margin-bottom: -20px;
	/*overflow:hidden; */
}
#sol h2{
	top: 40px;
	position: relative;
}
.img_light2 {
	float: left;
	position: relative;
	width: 500px;
	margin-top: 60px; 
	
}
.content_light2{

	position: relative;
	width: 280px;
	padding-right : 20px;
	float: right;
	padding-top: 30px;
		
}
.title2{
	padding-top: 0px; 
	padding-left : 90px; 
}
/*fin Alcala lightbox*/

/*oriente lightbox*/
#oriente{
	width : 800px;
	height: 530px;
	background-image:url('images/baseoriente.jpg');
	top: -20px;
position: relative;
margin-bottom: -20px;
}
#oriente h2{
	top: 40px;
	position: relative;
}
.img_light3 {
	float: left;
	position: relative;
	width: 490px;
	margin-top: 60px; 
	
}
.content_light3{

	position: relative;
	width: 280px;
	padding-right : 20px;
	float: right;
	padding-top: 65px; 
		
}
.title3{
	padding-top: 0px; 
	padding-left : 90px; 
}
/*fin oriente lightbox*/

/*cibele lightbox*/
#cibele{
	width : 800px;
	height: 530px;
	background-image:url('images/basecibele.jpg');
	/*enlever le cadre blanc de la lightbox*/
	top: -20px;
	position: relative;
	margin-bottom: -20px;
}
#cibele h2{
	top: 40px;
	position: relative;
	
	}

.img_light4 {
	float: left;
	position: relative;
	width: 490px;
	margin-top: 60px; 
	
}
.content_light4{

	position: relative;
	width: 280px;
	padding-right : 20px;
	float: right;
	padding-top:20px;
}
.title4{
	padding-top: 0px; 
	padding-left : 90px; 
}
/*fin cibele lightbox*/

/*mayor lightbox*/
#mayor{
	width : 800px;
	height: 530px;
	background-image:url('images/basecibele.jpg');
	top: -20px;
	position: relative;
	margin-bottom: -20px;
}

#mayor h2{
	top: 40px;
	position: relative;
}
	
.img_light5 {
	float: left;
	position: relative;
	width: 490px;
	margin-top: 60px; 
	
}
.content_light5{

	position: relative;
	width: 280px;
	padding-right : 20px;
	float: right;
	
}
.title5{
	padding-top: 0px; 
	padding-left : 90px; 
}
/*fin mayor lightbox*/
