html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: 'Special Elite';
  font-size:18px;
}

h1 {
font-family: 'Special Elite';
color:#35201e;
font-size: 25px;
}

h2 {
font-family: 'Special Elite';
font-size: 22px;
}

h3 {
font-family: 'Special Elite';
font-size:20px;
}

h4 {
font-family: 'Special Elite';
font-size:18px;
}

h5 {
font-family: 'Special Elite';
font-size:18px;
}

h6 {
font-family: 'Special Elite';
font-family:18px;
}

p {
font-family: 'Special Elite';
font-size:18px;
}

a {
  text-decoration:none;
}
a:hover {
  text-decoration:none;
}

.text-muted {
    color:white;
}