#map {
  width: 100%; /* width of the visible map */
  height: 1080px; /* height of the visible map */
  background-image: url('../default/page/img/back_map.jpg'); /* image used as map */
  background-position:0px 0px; /* initial position */
  background-repeat: no-repeat;
  background-size: 100%;
  /* transition */
  -webkit-transition: background-position 1s ease-in-out;
  -moz-transition: background-position 1s ease-in-out;
  -o-transition: background-position 1s ease-in-out;
  transition: background-position 1s ease-in-out;
}
#haut_page{


height: 1140px;
margin: 0px;
background-repeat: no-repeat;
background-size: 100%;
background-image: url('../default/page/img/ecran_back.jpg');

}
#map_container{


    padding: 0px;
}

#top_site{


margin-top: 13%;
}