body {
  background: #C0C0C0;
  color: white;
}

h1 {
  text-align: center;
}

#game {
    width: 350px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}
#game .mm-line {
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    line-height: 0;
    vertical-align: middle;
}
#game .mm-line.mm-solution {
    background-color: #c0c0c0;
    color: #999;
}
#game .mm-line.selected {
  background-color: #669;
  color: white;
}
#game .mm-line .mm-num {
  height: 100%;
  display: inline-block;
  font-family: monospace;
  font-size: 10px;
  width: 20px;
}
#game .mm-line .mm-slot {
    display: inline-block;
    width: 60px;
    height: 60px;
    -webkit-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    /* background-image: url("../images/cercle.png"); */
    background-size: cover;
    margin: 3px;
    border-radius: 50%;
}
#game .mm-line .mm-slot.selected {
  border-color: white;
  -webkit-animation: hilite 0.3s ease;
          animation: hilite 0.3s ease;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
#game .mm-line .mm-status {
  margin-left: 10px;
  display: inline-block;
  float: right;
}
#game .mm-line .mm-status span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  font-size: 20px;
}
#game .mm-line .mm-status .mm-status-correct {
    color: #1B9E14;
}
#game .mm-line .mm-status .mm-status-wrongplace {
  color: red;
}

#controls {
    width: 300px;
    text-align: center;
}
#controls a {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 3px;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
#controls a:hover {
  -webkit-transform: translateY(-5px) scale(1.1);
          transform: translateY(-5px) scale(1.1);
}

[data-peg] {
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.3));
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

[data-peg="0"] {
  background-image: url("../images/balai.png");
  background-size: cover;
  background-color: white;
}

[data-peg="1"] {
  
  background-image: url("../images/musique.png");
  background-size: cover;
  background-color: white;
}

[data-peg="2"] {
 
  background-image: url("../images/crotte.png");
  background-size: cover;
  background-color: white;
}

[data-peg="3"] {
  
  background-image: url("../images/detergent.png");
  background-size: cover;
  background-color: white;
}

[data-peg="4"] {
  
  background-image: url("../images/insultes.png");
  background-size: cover;
  background-color: white;
}



@-webkit-keyframes hilite {
  0% {
    border-color: white;
  }
  100% {
    border-color: #777;
  }
}

@keyframes hilite {
  0% {
    border-color: white;
  }
  100% {
    border-color: #777;
  }
}
