body {
  background: #994466;
  color: white;
}

h1 {
  text-align: center;
}

#game {
  border: 3px solid #222;
  width: 250px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin: 1em auto;
  box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.5);
}
#game .mm-line {
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background-color: #444;
  border-top: 1px solid #555;
  border-bottom: 1px solid #333;
  line-height: 0;
  vertical-align: middle;
  color: #666;
}
#game .mm-line.mm-solution {
  background-color: #922;
  color: #999;
  border-bottom: 10px solid #333;
}
#game .mm-line.selected {
  background-color: #669;
  color: white;
}
#game .mm-line .mm-num {
  height: 100%;
  display: inline-block;
  font-family: monospace;
  font-size: 10px;
  width: 20px;
}
#game .mm-line .mm-slot {
  display: inline-block;
  width: 20px;
  height: 20px;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  background-color: #222;
  border: 2px solid #333;
  margin: 3px;
  border-radius: 50%;
}
#game .mm-line .mm-slot.selected {
  border-color: white;
  -webkit-animation: hilite 0.3s ease;
          animation: hilite 0.3s ease;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
#game .mm-line .mm-status {
  margin-left: 10px;
  display: inline-block;
  float: right;
}
#game .mm-line .mm-status span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  font-size: 20px;
}
#game .mm-line .mm-status .mm-status-correct {
  color: black;
}
#game .mm-line .mm-status .mm-status-wrongplace {
  color: white;
}

#controls {
  width: 300px;
  margin: 10px auto;
  text-align: center;
}
#controls a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
  margin: 2px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
#controls a:hover {
  -webkit-transform: translateY(-5px) scale(1.1);
          transform: translateY(-5px) scale(1.1);
}

[data-peg] {
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.3));
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

[data-peg="0"] {
  background-color:none !important;
}

[data-peg="1"] {
  background-color:none !important;
}

[data-peg="2"] {
  background-color:none !important;
}

[data-peg="3"] {
  background-color:none !important;
}

[data-peg="4"] {
  background-color:none !important;
}

[data-peg="5"] {
  background-color:none !important;
}

@-webkit-keyframes hilite {
  0% {
    border-color: white;
  }
  100% {
    border-color: #777;
  }
}

@keyframes hilite {
  0% {
    border-color: white;
  }
  100% {
    border-color: #777;
  }
}
