#obj {
    margin-top: -9%;
    margin-left: -60%;
    position: relative;
    color: white;
}
#image {
		width: 100%;
	}
	img[usemap] {
		border: none;
		height: auto;
		max-width: 100%;
		width: auto;
	}


#question {
    position: relative;
    color: white;
    margin-top: -8%;
}

#porte1{
	top:98px;
	left:0px;
	width:698px;
	height:972px;
	position: absolute;
}
#porte2{
	top:98px;
	left:706px;
	width:621px;
	height:972px;
	position: absolute;
}
#porte3{
	top:98px;
	left:1353px;
	width:550px;
	height:972px;
	position: absolute;
}
#portes {
    position: relative;
    color: white;
    margin-top: -6%;
    margin-left: +70%;
}
body{
	
	background-color: #423D3D;
}