#obj {
	position: absolute;
	top: 914px;
	left: 360px;
	color: white;
}
#image {
		width: 100%;
	}
	img[usemap] {
		border: none;
		height: auto;
		max-width: 100%;
		width: auto;
	}


	
#question{
	position: absolute;
	top: 920px;
	left: 780px;
	color: white;
}

#porte1{
	top:98px;
	left:0px;
	width:698px;
	height:972px;
	position: absolute;
}
#porte2{
	top:98px;
	left:706px;
	width:621px;
	height:972px;
	position: absolute;
}
#porte3{
	top:98px;
	left:1353px;
	width:550px;
	height:972px;
	position: absolute;
}
#portes{
	top:914px;
	left:1335px;
	position: absolute;
	color: white;
	
}
body{
	
	background-color: black;
}