body {
    
    margin:0px;
    padding:0px;
    background-image: url("img/back_mid.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family:'Lato', sans-serif;
    font-size:18px;

/* -webkit-background-size: cover; /* pour anciens Chrome et Safari */
 /* background-size: cover; /* version standardisée */


}

@import url(https://fonts.googleapis.com/css?family=Special+Elite);

video {
    max-width: 100%;
    height: auto;
    margin:auto;
    padding:auto;
    margin-bottom:5px;
}

section {

    padding-top:20px;
}


#mambo-topmenu {
     vertical-align: top;
}

/*h1 {

	font-family: 'Special Elite', cursive;
    font-size:25px;
    text-align: center;
}*/

.wrap {

position:relative;
top:100px;

}

@media only screen and (device-width: 1920px) and (device-height: 1080px) { 
body {
background-image: url("img/back_large.jpg");
}
}


@media only screen and (device-width: 1024px) and (device-height: 768px) and (orientation : landscape) { 
body {
background-image: url("img/back_landscape.jpg");
}
}

@media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : portrait) { 
body {
background-image: url("img/back_profil.jpg");
}
}

@media only screen and (device-width: 1600px) and (device-height: 900px) { 
body {
background-image: url("img/back_mid.jpg");
}
}

