html{
    
    margin: 0;
    
    
}
body {
    background-image:url('../img/fond.png');
    background-repeat: no-repeat; 
	background-size: 1920px;
    background-position: center;
    margin:0;
    height: auto;
}

.noms {
    float:left;
}

.inception {
    float:right;
}


.henry {
    background-image:url('../img/Henry.png');
}

.alejandro {
    background-image:url('../img/alejandro.png');
}

.simao {
    background-image:url('../img/Simao.png');
}
ul{
    
    
    display: inline-block;
}