body {
    background-image:url('../img/panneau.png');
    background-repeat: no-repeat; 
	background-attachment: fixed; 
	background-size: cover; 
}

.noms {
    float:left;
}

.inception {
    float:right;
}


.henry {
    background-image:url('../img/Henry.jpg');
}

.alejandro {
    background-image:url('../img/alejandro.jpg');
}

.simao {
    background-image:url('../img/Simao.jpg');
}
