

#chien {
    margin: 0;
    height: auto;
    margin: 0;
    background-image: url('img/fond.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

h1 {
font-family: 'Special Elite';
color:‪#35201E;
font-size: 25px;
}

.noms {
    float: left;
}

.inception {
    float: right;
}

.henry {
    background-image: url('img/Henry.png');
}

.alejandro {
    background-image: url('img/alejandro.png');
}

.simao {
    background-image: url('img/Simao.png');
}

ul {
    display: inline-block;
}

#chien_row {

    margin: -15px !important;

}

#slider_chien {

    position: absolute;
    top: 228px;
    margin-left: 15%;

}

#slider1 {
    margin-top: 50px;
}

#slider2 {
    margin-top: 3px;
}

#slider3 {
    margin-top: 3px;
}

#slider4 {
    margin-top: 3px;
}

#slider5 {
    margin-top: 3px;
}

#chien {
    height: auto;
    width: 100%;
    margin: 0px;

}

#portraits {
    width: 30%;
    height: 500px;
    position: absolute;
    margin-top: 20%;
}

#henry {
    position: absolute;
    top: 50px;
    left: 258px;
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
    max-width: 100%;
    height: auto;
    min-width: 120px;
}

#simao {
    position: absolute;
    top: 280px;
    left: 181px;
    -ms-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
    max-width: 100%;
    height: auto;
    min-width: 120px;
}

#alejandro {
    position: absolute;
    top: 280px;
    left: 374px;
    -ms-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
    max-width: 100%;
    height: auto;
    min-width: 120px;
}

.valider {
    position: absolute;
    right: 200px;
    top: 850px;
    z-index: 9999;
    height: 50px;
    width: 200px;
    outline:none;
}

#boutton {
    position: absolute;
    left: 50px;
    top: 100px;
    z-index: 9999;
}

button {
    background: none; /* ou transparent je sais plus... */
    border: 0;
}

#slider_henry {
    top : 250px;
    left : 300px;
    min-width: 300px;

}

#slider_simao {
    top : 250px;
    left : 300px;
    min-width: 300px;

}

#slider_alejandro {
    top : 250px;
    left : 300px;
    min-width: 300px;

}

.right.carousel-control {
    background-image:url('img/fld.png'); background-repeat:none;  background-position:50%; 
}

.left.carousel-control {
    background-image:url('img/flg.png'); background-repeat:none;  background-position:50%;     
}

1
#galerie {
    background-image: url(img/galerie.jpg);
      margin: 0;
    height: auto;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}




/*media queries page galerie */
@media screen and (min-width : 400px) and (max-width: 1279px)
{
#portrait_henry {
        width: 120px;
        float:left;
        margin-top: -165px;
        margin-left: 20px;
        max-width: 100%;
        height: auto;
        min-width: 120px;
}
    
    #portrait_simao {
        width: 120px;
        float:left;
        margin-top: -165px;
        margin-left: 20px;
        max-width: 100%;
        height: auto;
        min-width: 120px;
        }
    
    #portrait_alejandro {
        width: 120px;
        float:left;
        margin-top: -165px;
        margin-left: 20px;
        max-width: 100%;
        height: auto;
        min-width: 120px;
}
    
    #rect   {
        position: absolute;
        left: 0;
        top: 100px;
    }
}

@media screen and (min-width : 1280px) and (max-width: 1436px)
{
    #rect {
        position: absolute;
        left: 0%;
        top: 150px;
    }
    
    #portrait_henry {
        width: 140px;
        float:left;
        margin-top: -200px;
        margin-left: 20px;
        max-width: 100%;
        height: auto;
    }

    #portrait_simao {
       width: 140px;
        float:left;
        margin-top: -200px;
        margin-left: 20px;
        max-width: 100%;
        height: auto;
    }

    #portrait_alejandro {
        width: 140px;
        float:left;
        margin-top: -200px;
        margin-left: 20px;
        max-width: 100%;
        height: auto;
    }
}


@media screen and (min-width : 1437px)
{
    #rect {
        width : 1437px; 50%; 
        margin : auto; 
        margin-top: 150px;
        top: 150px;
    }
    
     #portrait_henry {
        width: 140px;
        float:left;
        margin-top: -200px;
        margin-left: 20px;
        max-width: 100%;
        height: auto;
    }

    #portrait_simao {
        width: 140px;
        float:left;
        margin-top: -200px;
        margin-left: 20px;
        max-width: 100%;
        height: auto;
    }

    #portrait_alejandro {
         width: 140px;
        float:left;
        margin-top: -200px;
        margin-left: 20px;
        max-width: 100%;
        height: auto;
    }
}