.cotedroit{
	
}
.cotegauche{
	
}

#bibliotheque {
    position: relative;
    background-image: url("img/bibli.jpg");
    width: 1024px;
    height: 768px;
    margin: 0 auto;
    padding-top:500px;
}

body {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("img/background3.jpg");
}

#etape{
    padding-top:100px;
}

#kafka {
    top: 8px;
    left: 746px;
    width: 50px;
    height: 100px;
    z-index: 999;
}

#sartre {
    top: 8px;
    left: 900px;
    width: 50px;
    height: 100px;
    z-index: 999;
}

#marai {
    top: 225px;
    left: 45px;
    width: 46px;
    height: 90px;
}

#pizarnik {
    top: 172px;
    left: 314px;
    width: 33px;
    height: 143px;
}

#llosa {
    top: 135px;
    left: 391px;
    width: 33px;
    height: 177px;
}

#cortazar {
    top: 160px;
    left: 617px;
    width: 33px;
    height: 157px;
}

#gracian {
    top: 179px;
    left: 673px;
    width: 39px;
    height: 136px;
}

#kadare {
    top: 214px;
    left: 810px;
    width: 35px;
    height: 99px;
}

#borges {
    top: 205px;
    left: 860px;
    width: 33px;
    height: 108px;
}

#pavese {
    top: 189px;
    left: 929px;
    width: 39px;
    height: 129px;
}

#homere {
    top: 414px;
    left: 54px;
    width: 30px;
    height: 107px;
}

#losada {
    top: 355px;
    left: 120px;
    width: 36px;
    height: 169px;
}

#molina {
    top: 402px;
    left: 185px;
    width: 34px;
    height: 124px;
}

#echenique {
    top: 347px;
    left: 291px;
    width: 40px;
    height: 179px;
}

#joyce {
    top: 419px;
    left: 428px;
    width: 31px;
    height: 109px;
}

#ibanez {
    top: 419px;
    left: 768px;
    width: 35px;
    height: 109px;
}

#neuman {
    top: 384px;
    left: 805px;
    width: 37px;
    height: 143px;
}

#cauti {
    top: 419px;
    left: 959px;
    width: 30px;
    height: 113px;
}

#tabucchi {
    top: 594px;
    left: 96px;
    width: 30px;
    height: 133px;
}

#mendoza {
    top: 607px;
    left: 204px;
    width: 34px;
    height: 119px;
}

#merino {
    top: 622px;
    left: 405px;
    width: 33px;
    height: 109px;
}

#flaubert {
    top: 564px;
    left: 535px;
    width: 30px;
    height: 166px;
}

#marquez {
    top: 564px;
    left: 598px;
    width: 64px;
    height: 164px;
}

#neruda {
    top: 570px;
    left: 754px;
    width: 64px;
    height: 160px;
}

#plath {
    top: 631px;
    left: 889px;
    width: 30px;
    height: 101px;
}

#machine {
    top: 441px;
    left: 51vw;
    width: 230px;
    height: 191px;
}

.book {
    position: absolute;
    /*background-color:rgba(255,0,0,.5);*/
    background-color: transparent;
}


.contenu .titre h1 {
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

.contenu .biographie h3 {
    font-size: 25px;
    padding: 5px;
}

.contenu .biographie p{
    text-align: justify;
    padding: 10px;
}

.contenu .oeuvres h3 {
    font-size: 25px;
    padding: 10px;
}

.fancybox {
    cursor: pointer;
}

p{
    font-family:'Lato', sans-serif;
}


h3{
    font-family:'Lato', sans-serif;
}


ul{
    font-family:'Lato', sans-serif;
}

h2{
    font-family:'Special Elite';
}

.typo{
    margin:0 !important;
}


.lightbox{
    width:100%;

}

.contenu_machine {
    width:100%;
    height: auto;
}


.ecriture {
   /* width:100%;*/
  
}
#lesComs{
height: 300px;
overflow: auto;
}
.contenu{
    background-image:url("img/fond2.png");
	background-size: cover;
}
.row {
    margin-right: 15px;
    margin-left: 15px;
}
#machine_content {

    height: auto;
   width: 800px; 

}
.mauvais {
  color:#cc0000;
}
.recommencer{
    background-image:url("img/recommencer.png");
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain ;
    background-color:transparent;
    outline: none; 
    border:none;
    width: 200px;
    background-repeat: no-repeat; /* largeur à spécifier */
    height: 40px; /* longueur à spécifier */
    cursor: pointer;
}

.partager{
    background-image:url("img/partager.png");
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain ;
    background-color:transparent;
    outline:none;
    border:none;
    width: 200px;
    background-repeat: no-repeat; /* largeur à spécifier */
    height: 40px; /* longueur à spécifier */
    cursor: pointer;

}

#‎fancybox‬-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
background-image: url('img/fermer.png');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
width: 64px;
}

body {
 font-family:'Lato', sans-serif;
 font-size:18px;
}

h1 {
font-family: 'Special Elite';
color:#35201e;
font-size: 25px;
}

h2 {
font-family: 'Special Elite';
font-size: 22px;
}

h3 {
font-family: 'Lato', sans-serif; 
font-size:20px;
}

h4 {
font-family: 'Lato', sans-serif;
font-size:18px;
}

h5 {
font-family: 'Lato', sans-serif;
font-size:18px;
}

h6 {
font-family: 'Lato', sans-serif; 
font-family:18px;
}

p {
font-family: 'Lato', sans-serif;
font-size:18px;
}