body {

}

h1 {
    
    text-align:center;
}

h2 {
    
    font-size-adjust: auto;
}

p {
    
    text-align:center;
}

#base {
    

    
}

#legumes {
    
    
}

#condiments {
    
    
}

#assaisonement {
    
    
}

#temperature {
    
    
}

.col-sm-4.col-md-4.col-lg-4.ingredient { 
    margin-right: 0;
    width:110px;
}
.col-sm-4.col-md-4.col-lg-4.ingredient:first-child {
margin-left:0;
}
