

body {
    
    margin:0px;
    padding:0px;
    background-image: url("images/back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family:'Lato', sans-serif;
    font-size:18px;

     /* -webkit-background-size: cover; /* pour anciens Chrome et Safari */
 /* background-size: cover; /* version standardisée */


}





    

@import url(https://fonts.googleapis.com/css?family=Special+Elite);

.content {

    padding-top: 100px;
    width: 1024px;
    height: 768px;
}

.col-sm-3.col-md-3.col-lg-3.ingredient {
    margin-right: 0;
    padding-right: 5px;
    padding-left: 0px;
    min-width: 100px;
}

.col-sm-3.col-md-3.col-lg-3.ingredient:first-child {
    margin-left: 0;
    padding-right: 5px;
    padding-left: 0px;
}

.col-sm-3.col-md-3.col-lg-3.ingredient img {
    width: 100%;
}

.col-sm-5.col-md-5.col-lg-5.side {
    position: fixed;
    right: 0;
    top: 19%;
}

.zoomIngredient {
    animation-name: zoomIngredient;
    animation-duration: 500ms;
}

@keyframes zoomIngredient {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(1.5)
    }
}

#bol {
    background-image: url('./images/bol.png');
    background-position: 2px 12px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 400px;
}

#bol div.tomate {
    background-image: url('./images/remplissage/tomate.png');
    background-position: 2px 12px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 82%;
    height: 400px;
    margin:9%;
}

#bol div.lentille {
    background-image: url('./images/remplissage/lentilles.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

#bol div.potiron {
    background-image: url('./images/remplissage/potiron.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

#bol div.concombre {
    background-image: url('./images/remplissage/concombre.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

#bol div.poivron {
    background-image: url('./images/remplissage/poivron.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

#bol div.chou_fleur {
    background-image: url('./images/remplissage/chou_fleur.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

#bol div.poireau {
    background-image: url('./images/remplissage/poireau.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.col-md-offset-1 .col-md-11{

    margin-bottom:20px;
}

#legumes {

}

#condiments {

}

#assaisonement {

}

#temperature {

}

#envoi {

    margin-top:20px;
    text-align: center;
}

#valid{

    width:100%;
    height:100%;
    background-image:url("images/fondlightbox.png"); 
}


